@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar:     #4FA58D;
  --text:       #1C1C1C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.clip-arrow {
  clip-path: polygon(0 0, 100% 50%, 0 100%, 20% 100%, 100% 50%, 20% 0);
}

.clip-arrow-small {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.clip-left-arrow {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

  
